# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
lang-check/.env

# Pyre type checker
.pyre/
.idea/'

# Intellij IDEA Files
.idea/
.ideaDataSources/

.vscode/

# Mac files
.DS_Store

# Node
node_modules/
packages/*/node_modules/

# Monorepo
.turbo/

# GitBook
_book/
packages/gitbook/_book/

# Mintlify
packages/mintlify/.mintlify/
packages/mintlify/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
